* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #060AB2;
  }
  
  .memory-game {
    width: 640px;
    height: 640px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

.option {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.option-title {
  margin-bottom: 20px;
  color: #FFF;
}

.option-button, .option-button_start {
  padding: 10px 35px;
  margin: 10px 0px;
  color: #FFF;
  background-color: #1C7CCC;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.8s ease;
}

.option-button:hover, .option-button_start:hover {
  color: #1C7CCC;
  background-color: #FFF;
}

.option-button.active {
  color: #1C7CCC;
  background-color: #FFF;
}

p {
  font-weight: bold;
  color: #1C7CCC;
}

#score, span {
  color: #FFF;
}